name: _buildpacks-release

on:
  workflow_call:
    inputs:
      app_id:
        description: Application ID of GitHub application (e.g.; the Linguist App)
        type: string
        required: true
      app_email:
        description: The email address of the GitHub application bot user (e.g.; the Linguist App)
        type: string
        required: false
        default: ${{ vars.LINGUIST_GH_APP_EMAIL }}
      app_username:
        description: The username of the GitHub application bot user (e.g.; the Linguist App)
        type: string
        required: false
        default: ${{ vars.LINGUIST_GH_APP_USERNAME }}
      dry_run:
        required: false
        type: boolean
        default: false
        description: Flag used for testing purposes to prevent actions that perform publishing operations from executing
      ip_allowlisted_runner:
        description: The GitHub Actions runner to use to run jobs that require IP allow-list privileges
        type: string
        required: false
        default: pub-hk-ubuntu-22.04-small
      languages_cli_branch:
        description: The branch to install the Languages CLI from (FOR TESTING)
        type: string
        required: false
        default: main
    secrets:
      app_private_key:
        description: Private key of GitHub application (e.g. the Linguist App)
        required: true
      cnb_registry_token:
        required: true
        description: The token of the GitHub user used to interact with the CNB registry
      docker_hub_user:
        required: true
        description: The username to login to Docker Hub with
      docker_hub_token:
        required: true
        description: The token to login to Docker Hub with

defaults:
  run:
    # Setting an explicit bash shell ensures GitHub Actions enables pipefail mode too,
    # ratherthan only error on exit (improving failure UX when pipes are used). See:
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsshell
    shell: bash

env:
  CARGO_TERM_COLOR: always
  PACKAGE_DIR: ./packaged

jobs:
  compile:
    name: Compile Buildpacks
    runs-on: ${{ inputs.ip_allowlisted_runner }}
    outputs:
      buildpacks: ${{ steps.generate-buildpack-matrix.outputs.buildpacks }}
      version: ${{ steps.generate-buildpack-matrix.outputs.version }}
      changelog: ${{ steps.generate-changelog.outputs.changelog }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Languages CLI
        uses: heroku/languages-github-actions/.github/actions/install-languages-cli@main
        with:
          branch: ${{ inputs.languages_cli_branch }}
          update_rust_toolchain: false

      - name: Generate buildpack matrix
        id: generate-buildpack-matrix
        run: actions generate-buildpack-matrix --temporary_id "${{ github.run_id }}" --package-dir "${{ env.PACKAGE_DIR }}"

      - name: Update Rust toolchain
        run: rustup update

      - name: Install cross-compile tooling
        env:
          RUST_TRIPLES: ${{ steps.generate-buildpack-matrix.outputs.rust_triples }}
        run: |
          for triple in $(jq --exit-status -r '.[]' <<< "${RUST_TRIPLES}"); do
            if [[ "$triple" == "aarch64-unknown-linux-musl" ]]; then
              sudo apt-get install musl-tools gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libc6-dev-arm64-cross --no-install-recommends
            elif [[ "$triple" == "x86_64-unknown-linux-musl" ]]; then
              sudo apt-get install musl-tools --no-install-recommends
            else
              echo "WARNING: Unknown triple: $triple. Cross-compile dependencies were skipped."
            fi
            rustup target add "$triple"
          done

      - name: Rust cache
        uses: Swatinem/rust-cache@v2.7.3

      # the version of `libcnb-cargo` installed here is kept in sync with the version of `libcnb-package`
      # that the release automation CLI tooling depends on
      - name: Install libcnb-cargo
        run: |
          LOCKFILE_URL="https://raw.githubusercontent.com/heroku/languages-github-actions/${{ inputs.languages_cli_branch }}/Cargo.lock"
          LIBCNB_PACKAGE_VERSION=$( \
            curl --silent --show-error --fail --retry 5 --retry-all-errors --connect-timeout 10 --max-time 60 "${LOCKFILE_URL}" \
            | yq -ptoml -oyaml '.package[] | select(.name == "libcnb-package") | .version' \
          )
          cargo install --locked "libcnb-cargo@${LIBCNB_PACKAGE_VERSION}"

      - name: Package buildpacks
        id: libcnb-package
        env:
          BUILDPACKS: ${{ steps.generate-buildpack-matrix.outputs.buildpacks }}
        run: |
          package_dir=$(realpath "${{ env.PACKAGE_DIR }}")
          for buildpack in $(jq --exit-status -c '.[]' <<< "${BUILDPACKS}"); do
            buildpack_dir=$(jq --exit-status -r '.buildpack_dir' <<< "${buildpack}")
            if [ -f "${buildpack_dir}/bin/build" ] && [ -f "${buildpack_dir}/bin/detect" ]; then
              echo "Skipping ${buildpack_dir}"
              continue
            fi
            cd "${buildpack_dir}"
            for triple in $(jq --exit-status -r '.targets | map(.rust_triple) | .[]' <<< "${buildpack}"); do
              cargo libcnb package --release --package-dir "${package_dir}" --target "${triple}"
            done
          done

      - name: Generate changelog
        id: generate-changelog
        run: actions generate-changelog --version ${{ steps.generate-buildpack-matrix.outputs.version }}

      - name: Temporary fix for bash-based buildpacks
        run: |
          buildpacks='${{ steps.generate-buildpack-matrix.outputs.buildpacks }}'

          bash_buildpack_source_dirs=()
          bash_buildpack_output_dirs=()

          # copy any bash-based buildpack to target buildpack dir because `cargo libcnb package` will ignore them
          for buildpack in $(jq --exit-status -c '.[]' <<< "${buildpacks}"); do
            buildpack_dir=$(jq --exit-status -r '.buildpack_dir' <<< "${buildpack}")
            output_dir=$(jq --exit-status -r '.targets[0].output_dir' <<< "${buildpack}")
            if [ ! -d "${output_dir}" ]; then
              echo "bash-based buildpack detected at ${buildpack_dir}"
              cp -R "${buildpack_dir}" "${output_dir}"
              bash_buildpack_source_dirs+=("${buildpack_dir}")
              bash_buildpack_output_dirs+=("${output_dir}")
            fi
          done

          # replace dependencies that reference a bash-buildpack
          for buildpack in $(jq --exit-status -c '.[]' <<< "${buildpacks}"); do
            for output_dir in $(jq --exit-status -r '.targets | map(.output_dir) | .[]' <<< "${buildpack}"); do
              echo "checking dependencies in ${output_dir}/package.toml"
              for dep in $(yq -oy '.dependencies[].uri' "${output_dir}/package.toml"); do
                if realpath "${dep}" &> /dev/null; then
                  dep_path=$(realpath "${dep}")
                  for i in "${!bash_buildpack_source_dirs[@]}"; do
                    bash_buildpack_source_dir="${bash_buildpack_source_dirs[$i]}"
                    bash_buildpack_output_dir="${bash_buildpack_output_dirs[$i]}"
                    if [ "${bash_buildpack_source_dir}" = "${dep_path}" ]; then
                      echo "replacing ${dep} with ${bash_buildpack_output_dir}"
                      sed -i 's|'"$dep"'|'"$bash_buildpack_output_dir"'|g' "${output_dir}/package.toml"
                    fi
                  done
                fi
              done
            done
          done

      - name: Cache buildpacks
        uses: actions/cache/save@v4
        with:
          key: ${{ github.run_id }}-compiled-buildpacks
          path: ${{ env.PACKAGE_DIR }}

  publish-docker:
    name: Publish → Docker - ${{ matrix.buildpack_id }}
    needs: [compile]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.compile.outputs.buildpacks) }}
    steps:
      - name: Restore buildpacks
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: true
          key: ${{ github.run_id }}-compiled-buildpacks
          path: ${{ env.PACKAGE_DIR }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Install Pack CLI
        uses: buildpacks/github-actions/setup-pack@v5.6.0

      - name: Install Crane
        uses: uses: imjasonh/setup-crane@v0.3

      - name: Login to Docker Hub
        uses: docker/login-action@v3.1.0
        with:
          registry: docker.io
          username: ${{ secrets.docker_hub_user }}
          password: ${{ secrets.docker_hub_token }}


      - name: Publish to temporary tags
        env:
          TARGETS: ${{ toJSON(matrix.targets) }}
        run: |
          target_temp_tags=($(jq --exit-status -r "map(.temporary_tag) | join(\" \")" <<< "${TARGETS}"))
          # Publish each target to a temp tag
          for i in "${!target_temp_tags[@]}"; do
            output_dir=$(jq --exit-status -r ".[$i].output_dir" <<< "${TARGETS}")
            echo "Packaging ${output_dir} into ${target_temp_tags[i]}"
            pack buildpack package "${target_temp_tags[i]}" --config "${output_dir}/package.toml" -v --publish
          done

          # If there is more than one target, publish a multi-platform
          # manifest list / image index to a temp tag.
          if (( ${#target_temp_tags[@]} > 1 )); then
            # create a manifest list using platform-specific images created above.
            docker manifest create "${{ matrix.temporary_tag }}" "${target_temp_tags[@]}"

            # annotate each of the manifest list entries with the correct os/arch
            for i in "${!target_temp_tags[@]}"; do
              platform=$(jq --exit-status -r ".[$i].oci_platform" <<< "${TARGETS}")
              os=$(cut -d "/" -f1 <<< "${platform}")
              arch=$(cut -d "/" -f2 <<< "${platform}")
              echo "Annotating ${{ matrix.temporary_tag }} / ${temp_tag_names[i]} with ${os}/${arch}"
              docker manifest annotate "${{ matrix.temporary_tag }}" "${temp_tag_names[i]}" --os "${os}" --arch "${arch}"
            done

            # Push the manifest list / image index to a temporary tag
            docker manifest push "${temp_tag}"
          fi

      - name: Promote temporary tags to stable tags
        if: inputs.dry_run == false
        env:
          TARGETS: ${{ toJSON(matrix.targets) }}
        run: |
          # Promote target temp tags to stable tags
          target_temp_tags=($(jq --exit-status -r "map(.temporary_tag) | join(\" \")" <<< "${TARGETS}"))
          for i in "${!target_temp_tags[@]}"; do
            perm_tag=$(jq --exit-status -r ".[$i].permanent_tag" <<< "${TARGETS}")
            crane copy "${target_temp_tags[i]}" "${perm_tag}"
          done
          # promote primary image manifest or manifest list to permanent tag
          crane copy "{{ matrix.temporary_tag }}" "{{ matrix.permanent_tag }}"

      - name: Unpublish temp tags from this run
        if: always()
        env:
          TEMP_TAGS: ${{ toJSON(matrix.temp_tags) }}
        run: |
          status=0
          for temp_tag in "${temp_tags[@]}"; do
            echo "Checking $temp_tag for deletion"
            if crane digest "$temp_tag"; then
              echo "Deleting $temp_tag"
              if ! crane delete "$temp_tag"; then
                status=$?
              fi
            else
              echo "$temp_tag does not exist"
            fi
          done
          exit $status

  publish-github:
    name: Publish → GitHub Release
    needs: [compile]
    runs-on: ${{ inputs.ip_allowlisted_runner }}
    steps:
      - name: Restore buildpacks
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: true
          key: ${{ github.run_id }}-compiled-buildpacks
          path: ${{ env.PACKAGE_DIR }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Install Pack CLI
        uses: buildpacks/github-actions/setup-pack@v5.6.0

      - name: Generate CNB files
        run: |
          for buildpack in $(jq --exit-status -c '.[]' <<< '${{ needs.compile.outputs.buildpacks }}'); do
            for target in $(jq --exit-status -c ".targets | .[]" <<< "${buildpack}"); do
              output_dir=$(jq --exit-status -r ".output_dir" <<< "${target}")
              cnb_file=$(jq --exit-status -r ".cnb_file" <<< "${target}")
              pack buildpack package "$cnb_file" --config "${output_dir}/package.toml" --format file --verbose
            done
          done

      - name: Get token for GitHub application (Linguist)
        uses: heroku/use-app-token-action@main
        id: generate-token
        with:
          app_id: ${{ inputs.app_id }}
          private_key: ${{ secrets.app_private_key }}

      - name: Check if release exists
        id: check
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.app_token }}
        run: echo "published_to_github=$(gh release view v${{ needs.compile.outputs.version }} -R ${{ github.repository }} &> /dev/null && echo "true" || echo "false")" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        if: inputs.dry_run == false && steps.check.outputs.published_to_github == 'false'
        uses: softprops/action-gh-release@v2.0.4
        with:
          token: ${{ steps.generate-token.outputs.app_token }}
          tag_name: v${{ needs.compile.outputs.version }}
          body: ${{ needs.compile.outputs.changelog }}
          files: "*.cnb"
          fail_on_unmatched_files: true

  publish-cnb:
    name: Publish → CNB Registry - ${{ matrix.buildpack_id }}
    needs: [compile, publish-docker]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.compile.outputs.buildpacks) }}
    steps:
      - name: Install crane
        uses: buildpacks/github-actions/setup-tools@v5.6.0

      - name: Check if version is already in the registry
        id: check
        run: |
          registry_url="https://registry.buildpacks.io/api/v1/buildpacks/${{ matrix.buildpack_id }}/${{ matrix.buildpack_version }}"
          if curl --head --silent --show-error --fail --retry 1 --retry-all-errors --connect-timeout 10 --max-time 60 "${registry_url}"; then
            echo "published_to_cnb_registry=true" >> $GITHUB_OUTPUT
          else
            echo "published_to_cnb_registry=false" >> $GITHUB_OUTPUT
          fi

      - name: Calculate the buildpack image digest
        id: digest
        run: echo "value=$(crane digest ${{ matrix.docker_repository }}:${{ matrix.buildpack_version }})" >> "$GITHUB_OUTPUT"

      - name: Register the new version with the CNB Buildpack Registry
        if: inputs.dry_run == false && steps.check.outputs.published_to_cnb_registry == 'false'
        uses: docker://ghcr.io/buildpacks/actions/registry/request-add-entry:5.6.0
        with:
          token: ${{ secrets.cnb_registry_token }}
          id: ${{ matrix.buildpack_id }}
          version: ${{ matrix.buildpack_version }}
          address: ${{ matrix.docker_repository }}@${{ steps.digest.outputs.value }}

  update-builder:
    name: Update Builder
    needs: [compile, publish-docker, publish-cnb, publish-github]
    runs-on: ${{ inputs.ip_allowlisted_runner }}
    steps:
      - name: Get token for GH application (Linguist)
        uses: heroku/use-app-token-action@main
        id: generate-token
        with:
          app_id: ${{ inputs.app_id }}
          private_key: ${{ secrets.app_private_key }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: ./buildpacks

      - name: Checkout cnb-builder-images repository
        uses: actions/checkout@v4
        with:
          repository: heroku/cnb-builder-images
          path: ./cnb-builder-images
          # Using the GH application token here will configure the local git config for this repo with credentials
          # that can be used to make signed commits that are attributed to the GH application user
          token: ${{ steps.generate-token.outputs.app_token }}

      - name: Install crane
        uses: buildpacks/github-actions/setup-tools@v5.6.0

      - name: Install Languages CLI
        uses: heroku/languages-github-actions/.github/actions/install-languages-cli@main
        with:
          branch: ${{ inputs.languages_cli_branch }}

      - name: Update Builder
        # The dry run check is performed here because the update process requires a published
        # image to exist in order to calculate a digest with `crane`. Adding the check here
        # means no files will be modified and so no PR will be created later.
        if: inputs.dry_run == false
        run: actions update-builder --repository-path ./buildpacks --builder-repository-path ./cnb-builder-images --builders builder-20,builder-22,builder-classic-22,buildpacks-20,salesforce-functions

      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@v6.0.5
        with:
          token: ${{ steps.generate-token.outputs.app_token }}
          title: Update ${{ github.repository }} to v${{ needs.compile.outputs.version }}
          body: ${{ needs.compile.outputs.changelog }}
          commit-message: |
            Update ${{ github.repository }} to v${{ needs.compile.outputs.version }}

            ${{ needs.compile.outputs.changelog }}
          path: ./cnb-builder-images
          branch: update/${{ github.repository }}
          delete-branch: true
          # This will ensure commits made from this workflow are attributed to the GH application user
          committer: ${{ inputs.app_username }} <${{ inputs.app_email }}>
          author: ${{ inputs.app_username }} <${{ inputs.app_email }}>

      - name: Configure PR
        if: steps.pr.outputs.pull-request-operation == 'created'
        run: gh pr merge --auto --squash --repo heroku/cnb-builder-images "${{ steps.pr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.app_token }}
